@{
    ViewBag.Title = "Analiz";
}
@Styles.Render("~/assets/headerfooter")
@Styles.Render("~/assets/theme")
@Styles.Render("~/assets/plugins.css")


<div class="row">
    <!-- Blog Grid -->
    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/analiz/analiz22.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Analiz22">Uluslararası Endeksler Işığında Türkiye</a></h3>

                <p>
                    Bu çalışmada Uluslararası Kuruluşlar tarafından yayınlanan seçilmiş endeksler ışığında Türkiye’nin durumu değerlendirilmiştir. Endeksler TÜİK’ten (İstatistik Göstergeler – Uluslararası Endeksler) elde edilmiştir. TÜİK tarafından Uluslararası Endeksler başlığı altında 33 endeks bulunmakta olup bu çalışmada bunlardan 23’ü ele alınmıştır. Endekslerin her biri ekonomik, sosyal ve politik açıdan incelenmeye değer, ayrı ayrı çalışma konusu olabilecek derinliktedir. Bu çalışmanın hazırlanma amacı ise söz konusu endeksler ile Türkiye’ye ait verileri bütüncül olarak sunmaktır. Değerlendirilen endekslerin birçoğu düzenli olarak yayınlanmamaktadır. Ayrıca çalışmada ele alınan endeksler farklı ülke gruplarını kapsadığı ve düzenli olarak da yayınlanmadığı için ulaşılabilen veriler sadece Türkiye açısından derlenmiştir.
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Devamını Oku", "Analiz22", "Temp", null, new { @class = "btn-u btn-block rounded-4x btn-u-blue margin-bottom-10" })

            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/uluslararasi_endeksler_isiginda_turkiye.pdf" target="_blank">PDF Olarak İndir</a>
        </div>
    </div>
    <!-- End Blog Grid -->
    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/analiz/analiz21.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Analiz21">Türkiye’de Çevreye İlişkin ÇARPICI Göstergeler</a></h3>

                <p>
                    Bilindiği gibi, küresel ısınma, iklim değişikliği, kuraklık gibi konular son yıllarda küresel örgütler/oluşumlar tarafından sıklıkla dile getirilmeye başlanmış ve bu konuda önemli adımların atılması sağlanmıştır. Başta Birleşmiş Milletler, OECD, Avrupa Birliği, G20, gibi örgüt veya oluşumlarda yapılan toplantılarda bir araya gelen taraflar çevre konusunda önemli kararlar almaktadırlar.
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Devamını Oku", "Analiz21", "Temp", null, new { @class = "btn-u btn-block rounded-4x btn-u-blue margin-bottom-10" })

            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesa_-_analiz_-_cevre_-_h.yavuz_.pdf" target="_blank">PDF Olarak İndir</a>
        </div>
    </div>

    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/analiz/analiz20.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Analiz20">Seçilmiş Üniversitelerde Öğretim Üyeleri Ders Yükü Dağılımı</a></h3>

                <p>
                    Akademisyenler arasında yer alan problemlerden biri de ders yüklerinin dağılımı sorunudur. Bu durum üniversiteden üniversiteye veya bölümden bölüme farklılık gösteriyor olsa da gerek akademik camiada gerek de akademik camia dışından olanların genel kanaati ders ücretlerinin farklı olması nedeniyle Prof. veya Doç. unvanlı Hocaların birinci öğretim derslerini tercih etmediği yönündedir. Ayrıca zaman zaman birinci öğretim öğrencilerinin üniversiteye daha yüksek puanla girmiş olmasına rağmen derslerine giren Hocaların daha çok Yrd. Doç. Dr., Okutman veya Öğr. Gör. unvanlı olduğu iddiaları da gündeme gelmektedir.
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Devamını Oku", "Analiz20", "Temp", null, new { @class = "btn-u btn-block rounded-4x btn-u-blue margin-bottom-10" })

            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/uluslararasi_endeksler_isiginda_turkiye.pdf" target="_blank">PDF Olarak İndir</a>
        </div>
    </div>

    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/analiz/analiz19.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Analiz19">7 Haziran’dan 1 Kasım’a Seçim Beyannameleri: Metin Analizi</a></h3>

                <p>
                    7 Haziran 2015’te yapılan 25. Dönem milletvekili genel seçiminde 53.741.838 kayıtlı seçmenden
                    46.451.389’u oy kullanmıştır. Seçime katılma oranının
                    %86.43 olduğu 7 Haziran seçiminde 1.329.616 geçersiz
                    oy kullanılmıştır.
                    Adalet ve Kalkınma Partisi geçerli oyların %40.66’sını,
                    Cumhuriyet Halk Partisi %25.13’ünü, Milliyetçi Hareket
                    Partisi %16.45’ini ve Halkların Demokratik Partisi ise
                    %12.96’sını almıştır.
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Devamını Oku", "Analiz19", "Temp", null, new { @class = "btn-u btn-block rounded-4x btn-u-blue margin-bottom-10" })

            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/7_hazirandan_1_kasima_secim_beyannameleri_metin_analizi.pdf" target="_blank">PDF Olarak İndir</a>
        </div>
    </div>

    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/analiz/analiz18.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Analiz18">Türkiye’de Yükseköğretimin Nicel Analizi</a></h3>

                <p>
                    Yükseköğretim, 1981'de çıkarılan 2547 sayılı
                    Yükseköğretim Kanunu ile akademik, kurumsal ve
                    idari yönden yeniden yapılanma sürecine girmiştir.
                    Kanunla ülkemizdeki tüm yükseköğretim kurumları
                    Yükseköğretim Kurulu (YÖK) çatısı altında toplanmış,
                    akademiler üniversitelere, eğitim enstitüleri eğitim
                    fakültelerine dönüştürülmüş ve konservatuvarlar ile
                    meslek yüksekokulları üniversitelere bağlanmıştır.
                    Türk yükseköğretim sistemi 1982 yılı itibarıyla yirmi
                    yedi üniversite ile bunlara bağlı fakülte, enstitü, yüksekokul, konservatuvar ve
                    yüksekokullarından oluşan birleşik bir yapıya dönüştürülmüştür.
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Devamını Oku", "Analiz18", "Temp", null, new { @class = "btn-u btn-block rounded-4x btn-u-blue margin-bottom-10" })

            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/turkiyede_yuksekogretimin_nicel_analizi.pdf" target="_blank">PDF Olarak İndir</a>
        </div>
    </div>

    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/analiz/analiz17.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Analiz17">Seçim Öncesinde Verilerle Türkiye Ekonomisi – 2: Sektör</a></h3>

                <p>
                    Geçen haftaki çalŦƔmamŦzda son açŦklanan reel ekonomiye iliƔkin göstergeleri incelemiƔtik. Bu hafta
                    ülkemiz ekonomisi açŦƐŦndan en önemli alanlardan biri olan dŦƔ sektör verileri analiz edilecek. Son yŦllarda
                    iç talebin zayŦflamasŦ ile birlikte GSYH büyümesinde dŦƔ ticaretin yaptŦŒŦ pozitif katkŦǇŦ görmekteyiz.
                    Büyümenin kompoziyonundaki yükselen payŦ ile dŦƔ ticaret yŦůŦn ilk çeyrek ekonomik performansŦ ile ilgili
                    bilgi vermektedir. AyrŦca, en yumuƔak karnŦŵŦzdan biri olan cari açŦk verileri de analiz edilecektir.
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Devamını Oku", "Analiz17", "Temp", null, new { @class = "btn-u btn-block rounded-4x btn-u-blue margin-bottom-10" })

            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesa_analiz_secim_oncesi_turkiye_ekonomisi_ozdemir_060515.pdf" target="_blank">PDF Olarak İndir</a>
        </div>
    </div>

    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/analiz/analiz16.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Analiz16">Seçim Öncesinde Verilerle Türkiye Ekonomisi – 1: Reel Ekonomi</a></h3>

                <p>
                    7 Haziran genel seçimleri öncesinde ekonomiye yönelik vaatler en dikkat çeken alan. Hükümetin sık
                    aralıklarla açıkladığı teşvik paketleriyle birlikte diğer partilerin vaatleri bu seçimin ana konusunu
                    ekonominin belirleyeceğini gösteriyor. Yurtiçinde TL’nin dolar karşısında 2013 Mayıs ayında başlayan
                    hızlı değer kaybı, bu sene başından beri daha da artış göstermekte ve Dolar/TL kuru her hafta yeni bir
                    rekor kırmaktadır. Bu durum özellikle kur kaynaklı birçok kriz yaşamış olan ülkemizde her kesim
                    tarafından yakından takip edilmektedir. 
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Devamını Oku", "Analiz22", "Temp", null, new { @class = "btn-u btn-block rounded-4x btn-u-blue margin-bottom-10" })

            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesa_analiz_secim_oncesi_turkiye_ekonomisi_ozdemir.docx.pdf" target="_blank">PDF Olarak İndir</a>
        </div>
    </div>



</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@Scripts.Render("~/assets/plugins.js")
@Scripts.Render("~/assets/pagejs")
