@{
    ViewBag.Title = "Analiz";
}
@Styles.Render("~/assets/headerfooter")
@Styles.Render("~/assets/theme")
@Styles.Render("~/assets/plugins.css")


<div class="row">
    <!-- Blog Grid -->
    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/bulten/bulten.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Bulten10">Haftalık Ekonomi Bülteni (2016 4.hafta)</a></h3>

                <p>
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesar_ekonomi_bulteni_2016-4h.pdf" target="_blank">Görüntüle</a>
        </div>
    </div>

    <!-- End Blog Grid -->
    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/bulten/bulten.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Bulten10">Haftalık Ekonomi Bülteni (2016 3.hafta)</a></h3>

                <p>
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesar_ekonomi_bulteni_2016-3h.pdf" target="_blank">Görüntüle</a>
        </div>
    </div>

    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/bulten/bulten.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Bulten10">Haftalık Ekonomi Bülteni (2016 2.hafta)</a></h3>

                <p>
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesar_ekonomi_bulteni_2016-2h.pdf" target="_blank">Görüntüle</a>
        </div>
    </div>

    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/bulten/bulten.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Bulten10">Haftalık Ekonomi Bülteni (2015 21.hafta)</a></h3>

                <p>
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesar_ekonomi_bulteni_2015-21h.pdf" target="_blank">Görüntüle</a>
        </div>
    </div>

    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/bulten/bulten.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Bulten10">Haftalık Ekonomi Bülteni (2015 20.hafta)</a></h3>

                <p>
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesar_ekonomi_bulteni_2015-20h.pdf" target="_blank">Görüntüle</a>
        </div>
    </div>

    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/bulten/bulten.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Bulten10">Haftalık Ekonomi Bülteni (2015 19.hafta)</a></h3>

                <p>
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesar_ekonomi_bulteni_2015-19h.pdf" target="_blank">Görüntüle</a>
        </div>
    </div>

    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/bulten/bulten.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Bulten10">Haftalık Ekonomi Bülteni (2015 18.hafta)</a></h3>

                <p>
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesar_ekonomi_bulteni_2015-18h.pdf" target="_blank">Görüntüle</a>
        </div>
    </div>

    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/bulten/bulten.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Bulten10">Haftalık Ekonomi Bülteni (2015 17.hafta)</a></h3>

                <p>
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesar_ekonomi_bulteni_2015-17h.pdf" target="_blank">Görüntüle</a>
        </div>
    </div>

    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/bulten/bulten.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Bulten10">Haftalık Ekonomi Bülteni (2015 16.hafta)</a></h3>

                <p>
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesar_ekonomi_bulteni_2015-16h.pdf" target="_blank">Görüntüle</a>
        </div>
    </div>

    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/bulten/bulten.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Bulten10">Haftalık Ekonomi Bülteni (2015 15.hafta)</a></h3>

                <p>
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesar_ekonomi_bulteni_2015-15h.docx.pdf" target="_blank">Görüntüle</a>
        </div>
    </div>

</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@Scripts.Render("~/assets/plugins.js")
@Scripts.Render("~/assets/pagejs")
