@{
    ViewBag.Title = "Analiz";
}
@Styles.Render("~/assets/headerfooter")
@Styles.Render("~/assets/theme")
@Styles.Render("~/assets/plugins.css")


<div class="row">
    <!-- Blog Grid -->
    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/rapor/rapor10.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Rapor10">Sakarya Halkının Başkanlık Sistemine Bakışı</a></h3>

                <p>
                    4.264 kişi ile yüz yüze görüşme şeklinde yapılan anket bulgularına dayanan
                    bu rapor, Mart- Nisan 2015 tarihinde Sakarya ilinin 16 ilçesinde yaşayan halkın
                    “Başkanlık Sistemine” yönelik düşüncelerini tespit etmeyi hedefleyen anketlerin
                    bulgularına dayanmaktadır.
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Devamını Oku", "Rapor10", "Temp", null, new { @class = "btn-u btn-block rounded-4x btn-u-blue margin-bottom-10" })

            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/baskanlik.sistemi.rapor_.pdf" target="_blank">PDF Olarak İndir</a>
        </div>
    </div>
    <!-- End Blog Grid -->
    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/rapor/rapor9.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Rapor9">Sakarya Halkının Çözüm Sürecine Bakışı: “Sakarya Çözüm İstiyor”</a></h3>

                <p>
                    4.264 kişi ile yüz yüze görüşme şeklinde yapılan anket bulgularına dayanan
                    bu rapor, Mart- Nisan 2015 tarihinde Sakarya ilinin 16 ilçesinde halkın “Çözüm
                    sürecine” yönelik düşüncelerini tespit etmeyi hedefleyen anketlerin bulgularına
                    dayanmaktadır.

                </p>
            </div>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Devamını Oku", "Rapor9", "Temp", null, new { @class = "btn-u btn-block rounded-4x btn-u-blue margin-bottom-10" })

            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/cozum.sureci.rapor_.04.05.15.pdf" target="_blank">PDF Olarak İndir</a>
        </div>
    </div>
    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/rapor/rapor8.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Rapor8">30 Mart 2014 Yerel Seçim Sonuçları (Sakarya)</a></h3>

                <p>
                    30 Mart 2014 Pazar günü yapılan Yerel Yönetim Seçimlerinin Açıklanan
                    sonuçlarına göre seçim tahminlerinde Sakarya ilinde Sakarya Büyükşehir
                    Belediyesi ve İlçelerle ilgili nihai seçim sonuçlara en yakın tahminde bulunan
                    araştırma kuruluşunun PESA olduğu görülmüştür.

                </p>
            </div>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Devamını Oku", "Rapor8", "Temp", null, new { @class = "btn-u btn-block rounded-4x btn-u-blue margin-bottom-10" })

            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/30_mart_2014_yerel_secim_sonuclari_sakarya_pesadan_tam_isabet_0.pdf" target="_blank">PDF Olarak İndir</a>
        </div>
    </div>
    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/rapor/rapor7.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Rapor7">Sakarya İli Yerel Anket Sonuçları</a></h3>

                <p>
                    Bu ara rma PESA (Politik Ekonomik ve Sosyal Ara rmalar Merkezi)
                    taraf ndan Sakarya’n n 11 lçesinde PESA ad na seçmenlerle yüz yüze görü me
                    tekni iyle yap lan anket sonuçlar na dayanmaktad r.
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Devamını Oku", "Rapor7", "Temp", null, new { @class = "btn-u btn-block rounded-4x btn-u-blue margin-bottom-10" })

            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/pesa.yerel_.secimler._ankteti_sonuclari_0.pdf" target="_blank">PDF Olarak İndir</a>
        </div>
    </div>
    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/rapor/rapor6.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3>
                    <a href="~/Temp/Rapor10">
                        Sakarya Üniversitesi Kampüs Ulaşımı: Ulaşımda Ne
                        Değişti?
                    </a>
                </h3>

                <p>
                    Ulaşım sistemleri insan vücudundaki damarlara benzetilebilir. İnsan vücudunda çok sayıda ve
                    değişik fonksiyonları olan damarlar kan dolaşımını sağlayarak insan yaşamının devamlılığını
                    sağlamakta, damarlardan birinin değişik sebeplerle tıkanması ve kan dolaşımının
                    gerçekleşmemesi vücudumuzun yaşamsal fonksiyonunu yitirmesine neden olmaktadır. Tıpkı
                    insan vücudundaki damarların fonksiyonuna benzer şekilde ulaşım da her ülke için (MEB, ?: 68)
                    hem ekonomik, hem sosyal hem de siyasal açılardan hayati öneme sahiptir.

                </p>
            </div>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Devamını Oku", "Rapor6", "Temp", null, new { @class = "btn-u btn-block rounded-4x btn-u-blue margin-bottom-10" })

            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/ulasim.raporu.20.02.2014.pdf" target="_blank">PDF Olarak İndir</a>
        </div>
    </div>
    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/rapor/rapor5.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Rapor6">Alevilerde Devlet ve Vergi Algısı</a></h3>

                <p>
                    'Alevilerde Devlet ve Vergi Algısı' ve rapor ektedir
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Devamını Oku", "Rapor5", "Temp", null, new { @class = "btn-u btn-block rounded-4x btn-u-blue margin-bottom-10" })

            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/alevilik_rapor.pdf" target="_blank">PDF Olarak İndir</a>
        </div>
    </div>
    <div class="row margin-bottom-50">
        <div class="col-sm-4 sm-margin-bottom-20">
            <img class="img-responsive" src="~/Content/TempImages/rapor/rapor4.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="blog-grid">
                <h3><a href="~/Temp/Rapor4">Dindar/Muhafazakar İşadamları Perspektifinden İslam Ekonomisi ve Katılım Bankaları</a></h3>

                <p>
                    'Dindar/Muhafazakar işadamlarının Perspektifinden İslam Ekonomisi ve Katılım Bankaları' ile ilgili rapor ektedir.
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Devamını Oku", "Rapor4", "Temp", null, new { @class = "btn-u btn-block rounded-4x btn-u-blue margin-bottom-10" })

            <a class="btn-u btn-block rounded-4x btn-u-sea" href="http://pesar.org/sites/default/files/islam_ekonomisi_rapor.pdf" target="_blank">PDF Olarak İndir</a>
        </div>
    </div>



</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@Scripts.Render("~/assets/plugins.js")
@Scripts.Render("~/assets/pagejs")
