@model PESA.Models.Duyuru

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";}

<div class="row col-md-10">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Duyuru</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Başlık
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duyuru_Baslik)
            </dd>

            <dt>
                İçerik
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duyuru_Icerik)
            </dd>

            <dt>
                Fotoğraf
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duyuru_Foto)
            </dd>

            <dt>
                Dosya
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duyuru_Dosya)
            </dd>

            <dt>
                Tarih
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duyuru_Tarih)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>