@model PESA.Models.Duyuru

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";}

<div class="row col-md-10">
    <div>
        <h4>Duyuru</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Başlık
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duyuru_Baslik)
            </dd>

            <dt>
                İçerik
            </dt>

            <dd>
                @Html.Raw(Model.Duyuru_Icerik)
            </dd>

            <dt>
                Fotoğraf
            </dt>

            <dd>
                <img src="~/Content/Upload/Duyuru/Foto/@Model.Duyuru_Foto" width="180" height="100" alt="" />
                @*@Html.DisplayFor(model => model.Duyuru_Foto)*@
            </dd>

            <dt>
                Dosya
            </dt>

            <dd>
                <a href="~/Content/Upload/Duyuru/Dosya/@Model.Duyuru_Dosya">@Model.Duyuru_Dosya</a>
                @*@Html.DisplayFor(model => model.Duyuru_Dosya)*@
            </dd>

            <dt>
                Tarih
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duyuru_Tarih)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Düzenle", "DuyuruEdit", new { id = Model.Duyuru_ID }) |
        @Html.ActionLink("Geri Dön", "Index")
    </p>
</div>