@model PESA.Models.Duyuru

@{
    ViewBag.Title = "Duyuru Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">

    @using (Html.BeginForm("DuyuruCreate", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Duyuru</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Duyuru_Baslik, "Başlık", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Duyuru_Baslik, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Duyuru_Baslik, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Duyuru_Icerik, "İçerik", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Duyuru_Icerik)
                    @*@Html.EditorFor(model => model.Duyuru_Icerik, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Duyuru_Icerik, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Duyuru_Foto, "Fotoğraf [973*615]", htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    <input type="file" id="DuyuruFoto" name="DuyuruFoto" accept=".jpg, .jpeg, .png, .gif, .bmp" required />
                    @*@Html.EditorFor(model => model.Duyuru_Foto, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Duyuru_Foto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Duyuru_Dosya, "Dosya", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" id="DuyuruDosya" name="DuyuruDosya" accept=".pdf, .doc, .docx, .xls" required />
                    @*@Html.EditorFor(model => model.Duyuru_Dosya, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Duyuru_Dosya, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Duyuru_Tarih, "Tarih", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Duyuru_Tarih, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Duyuru_Tarih, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Duyurulara Geri Dön", "DuyuruIndex")
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")

        <script src="~/Content/ckeditor/ckeditor.js"></script>
        <script src="~/Content/ckfinder/ckfinder.js"></script>
        <script type="text/javascript">
            var editor = CKEDITOR.instances['Duyuru_Icerik'];
            if (editor) { editor.destroy(true); }
            CKEDITOR.replace('Duyuru_Icerik', {
                enterMode: CKEDITOR.ENTER_BR,
            });
            CKFinder.SetupCKEditor(null, '@Url.Content("~/Content/ckfinder/")');
        </script>
    }
