@model PESA.Models.Duyuru

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";}

<div class="row">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Duyuru</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Başlık
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duyuru_Baslik)
            </dd>

            <dt>
                İçerik
            </dt>

            <dd>
                @Html.Raw(Model.Duyuru_Icerik)
            </dd>

            <dt>
                Fotoğraf
            </dt>

            <dd>
                <img src="~/Content/Upload/Duyuru/Foto/@Model.Duyuru_Foto" width="180" height="100" alt="" />
            </dd>

            <dt>
                Dosya
            </dt>

            <dd>
                <a href="~/Content/Upload/Duyuru/Dosya/@Model.Duyuru_Dosya">@Model.Duyuru_Dosya</a>
            </dd>

            <dt>
                Tarih
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duyuru_Tarih)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-danger" /> |
                @Html.ActionLink("Geri Dön", "Index")
            </div>
        }
    </div>
</div>