@model IEnumerable<PESA.Models.Yayin>

@{
    ViewBag.Title = "YayinIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>YayinIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Yayin_Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yayin_Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yayin_Icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yayin_Ozet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etiket_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yayin_Dosya)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yayin_Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slider_Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slider_Ozet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YayinTip.YayinTip_Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yazar.Yazar_Adi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Yayin_Baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yayin_Foto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yayin_Icerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yayin_Ozet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etiket_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yayin_Dosya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yayin_Tarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slider_Baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slider_Ozet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YayinTip.YayinTip_Adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yazar.Yazar_Adi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Yayin_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Yayin_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Yayin_ID })
        </td>
    </tr>
}

</table>
