@model PESA.Models.Yayin

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";}

<link rel="stylesheet" href="~/assets/plugins/animate.css">
<link rel="stylesheet" href="~/assets/plugins/line-icons/line-icons.css">
<link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="~/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="~/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

<div class="row">

    @using (Html.BeginForm("YayinCreate", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Yayın</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.YayinTip_ID, "Yayın Tipi", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("YayinTip_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.YayinTip_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Yayin_Baslik, "Başlık", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Yayin_Baslik, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Yayin_Baslik, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Yayin_Foto, "Fotoğraf [973*615]", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" id="YayinFoto" name="YayinFoto" accept=".jpg, .jpeg, .png, .gif, .bmp" required />
                    @*@Html.EditorFor(model => model.Yayin_Foto, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Yayin_Foto, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.Yayin_Icerik, "İçerik", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Yayin_Icerik)
                    @*@Html.EditorFor(model => model.Yayin_Icerik, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Yayin_Icerik, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Yayin_Ozet, "Özet", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Yayin_Ozet, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Yayin_Ozet, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.YayinEtiket, "Etiket", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <label class="checkbox-inline"><input type="checkbox" name="etiket" value="Eğitim">Eğitim</label>
                    <label class="checkbox-inline"><input type="checkbox" name="etiket" value="Ekonomi">Ekonomi</label>
                    <label class="checkbox-inline"><input type="checkbox" name="etiket" value="Finans">Finans</label>
                    <label class="checkbox-inline"><input type="checkbox" name="etiket" value="Maliye">Maliye</label>
                    <label class="checkbox-inline"><input type="checkbox" name="etiket" value="Politika">Politika</label>
                    <label class="checkbox-inline"><input type="checkbox" name="etiket" value="Tarih">Tarih</label>
                    <label class="checkbox-inline"><input type="checkbox" name="etiket" value="Toplum">Toplum</label>

                    <input type="button" class="btn btn-primary" value="Seçimi Uygula" onclick="etiketFunc()" />


                    @Html.EditorFor(model => model.YayinEtiket, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly", @placeholder = "Yukarıdan etiket seçip 'Seçimi Uygula' butonuna tıklayınız" } })
                    @Html.ValidationMessageFor(model => model.YayinEtiket, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Yayin_Yazar, "Yazar", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    <label class="checkbox-inline"><input type="checkbox" name="yazar" value="Fatih SAVAŞAN">Fatih SAVAŞAN</label>
                    <label class="checkbox-inline"><input type="checkbox" name="yazar" value="Fatih YARDIMCIOĞLU">Fatih YARDIMCIOĞLU</label>
                    <label class="checkbox-inline"><input type="checkbox" name="yazar" value="Şakir GÖRMÜŞ">Şakir GÖRMÜŞ</label>
                    <label class="checkbox-inline"><input type="checkbox" name="yazar" value="Temel GÜRDAL">Temel GÜRDAL</label>
                    <br />
                    <label class="checkbox-inline"><input type="checkbox" name="yazar" value="Furkan BEŞEL">Furkan BEŞEL</label>
                    <label class="checkbox-inline"><input type="checkbox" name="yazar" value="Bünyamin BEZCİ">Bünyamin BEZCİ</label>
                    <label class="checkbox-inline"><input type="checkbox" name="yazar" value="Mehmet Emin ALTUNDEMİR">Mehmet Emin ALTUNDEMİR</label>
                    <label class="checkbox-inline"><input type="checkbox" name="yazar" value="Hakkı BAĞCI">Hakkı BAĞCI</label>
                    <br />
                    <label class="checkbox-inline"><input type="checkbox" name="yazar" value="İsmail GÜLEÇ">İsmail GÜLEÇ</label>
                    <label class="checkbox-inline"><input type="checkbox" name="yazar" value="Harun KILIÇASLAN">Harun KILIÇASLAN</label>
                    <label class="checkbox-inline"><input type="checkbox" name="yazar" value="Hakan YAVUZ">Hakan YAVUZ</label>
                    <label class="checkbox-inline"><input type="checkbox" name="yazar" value="Ahmet GÜLMEZ">Ahmet GÜLMEZ</label>


                    <input type="button" class="btn btn-primary" value="Seçimi Uygula" onclick="yazarFunc()" />


                    @Html.EditorFor(model => model.Yayin_Yazar, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly", @placeholder = "Yukarıdan yazar seçip 'Seçimi Uygula' butonuna tıklayınız" } })
                    @Html.ValidationMessageFor(model => model.Yayin_Yazar, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Yayin_Dosya, "Dosya", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" id="YayinDosya" name="YayinDosya" accept=".pdf, .doc, .docx, .xls" required />
                    @*@Html.EditorFor(model => model.Yayin_Dosya, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Yayin_Dosya, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Yayin_Tarih, "Tarih", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.EditorFor(model => model.Yayin_Tarih, new { htmlAttributes = new { @class = "form-control", required = "required", name = "date", id = "date" } })
                    @Html.ValidationMessageFor(model => model.Yayin_Tarih, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-default" onclick="validate()" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Geri Dön", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/assets/pagejs")

    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="~/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="~/assets/plugins/smoothScroll.js"></script>
    <script src="~/assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="~/assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/assets/js/custom.js"></script>
    <script type="text/javascript" src="~/assets/js/app.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/style-switcher.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/masking.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/datepicker.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/validation.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/style-switcher.js"></script>


    <script type="text/javascript">

        jQuery(document).ready(function () {
            App.init();
            Datepicker.initDatepicker();
        });

        var editor = CKEDITOR.instances['Yayin_Icerik'];
        if (editor) { editor.destroy(true); }
        CKEDITOR.replace('Yayin_Icerik', {
            enterMode: CKEDITOR.ENTER_BR,
        });
        CKFinder.SetupCKEditor(null, '@Url.Content("~/Content/ckfinder/")');

        function etiketFunc() {
            var etiket = document.getElementsByName("etiket");
            var txtEtiket = "";
            var i;
            for (i = 0; i < etiket.length; i++) {
                if (etiket[i].checked) {
                    txtEtiket = txtEtiket + etiket[i].value + " ";
                }
            }
            document.getElementById("YayinEtiket").value = txtEtiket;
        }

        function yazarFunc() {
            var yazar = document.getElementsByName("yazar");
            var txtYazar = "";
            var i;
            for (i = 0; i < yazar.length; i++) {
                if (yazar[i].checked) {
                    txtYazar = txtYazar + yazar[i].value + " ";
                }
            }
            document.getElementById("Yayin_Yazar").value = txtYazar;
        }

    </script>
}