@model IEnumerable<PESA.Models.Yayin>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Yayin_Baslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yayin_Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yayin_Icerik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yayin_Ozet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YayinEtiket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yayin_Dosya)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yayin_Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YayinTip.YayinTip_Adi)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Yayin_Baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yayin_Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yayin_Icerik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yayin_Ozet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YayinEtiket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yayin_Dosya)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yayin_Tarih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YayinTip.YayinTip_Adi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Yayin_ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.Yayin_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Yayin_ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
