<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    @Styles.Render("~/before/css")
    @Scripts.Render("~/before/js")
    <!----webfonts--->

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Admin/Index">PESA Admin</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-nav navbar-right">

                
            </ul>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#">YAYIN YÖNETİMİ</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Analiz</a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            @Html.ActionLink("Analiz Listesi", "AnalizListele", "Admin")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Yeni Analiz Ekle", "AnalizEkle", "Admin")
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Görüş</a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            @Html.ActionLink("Görüş Listesi", "GorusListele", "Admin")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Yeni Görüş Ekle", "GorusEkle", "Admin")
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Rapor</a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            @Html.ActionLink("Rapor Listesi", "RaporListele", "Admin")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Yeni Rapor Ekle", "RaporEkle", "Admin")
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Ekonomi Bülteni</a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            @Html.ActionLink("Bülten Listesi", "BultenListele", "Admin")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Yeni Bülten Ekle", "BultenEkle", "Admin")
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        @*   End of YAYIN YÖNETİMİ   *@
                        <li>
                            <a href="#">SLIDER YÖNETİMİ</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    @Html.ActionLink("Slider Listesi", "SliderListele", "Admin")
                                </li>
                                <li>
                                    @Html.ActionLink("Yeni Slide Ekle", "SlideEkle", "Admin")
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">DUYURU YÖNETİMİ</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    @Html.ActionLink("Duyuru Listesi", "DuyuruListele", "Admin")
                                </li>
                                <li>
                                    @Html.ActionLink("Yeni Duyuru Ekle", "DuyuruEkle", "Admin")
                                </li>
                            </ul>
                        </li>
                        <li>
                            Oturumu Kapat
                        </li>
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="container body-content">
                @RenderBody()
            </div>
            
        </div>
        <!-- /#page-wrapper -->
        PESA Research<span class="pull-right">SEROZAN</span>
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    @Scripts.Render("~/after/js")




</body>


</html>









