<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    @Styles.Render("~/before/css")
    @Scripts.Render("~/before/js")
    <!----webfonts--->

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Admin")">PESA ADMIN</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="@Url.Action("Exit", "Admin")"><i class="fa fa-sign-out fa-fw"></i> Çıkış</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="active-menu" href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a class="nav nav-second-level" href="@Url.Action("YayinCreate", "Admin")"><i class="fa fa-pencil"></i> Yayın Oluştur</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> Yayın Yönetimi<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("YayinIndex", "Admin", new { ID= "1"})">Analiz Yönetimi</a>
                            </li>
                            <li>
                                <a href="@Url.Action("YayinIndex", "Admin", new { ID= "2"})">Görüş Yönetimi</a>
                            </li>
                            <li>
                                <a href="@Url.Action("YayinIndex", "Admin", new { ID= "3"})">Rapor Yönetimi</a>
                            </li>
                            <li>
                                <a href="@Url.Action("YayinIndex", "Admin", new { ID= "4"})">Bülten Yönetimi</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bullhorn"></i> Duyuru Yönetimi<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("DuyuruIndex", "Admin")">Duyuru Listesi</a>
                            </li>
                            <li>
                                <a href="@Url.Action("DuyuruCreate", "Admin")">Yeni Duyuru Ekle</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="empty.html"><i class="fa fa-fw fa-file"></i> Empty Page</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            


               
                    @RenderBody()

                <!-- /. ROW  -->
                <footer class="pull-right"><p>All rights reserved. SEROZAN</a></p></footer>
            
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    @Scripts.Render("~/after/js")

    @RenderSection("scripts", required: false)


</body>


</html>








