@model IEnumerable<PESA.Models.Yayin>


@{
    ViewBag.Title = "Ana Sayfa";
}
@Styles.Render("~/assets/headerfooter")
@Styles.Render("~/assets/theme")
@Styles.Render("~/assets/plugins.css")

<!-- #region Master Slider -->
<div class="master-slider ms-skin-black-2 round-skin" id="masterslider">

    @foreach (var item in Model.OrderByDescending(c => c.Yayin_Tarih.AsDateTime()))
    {
        <div class="ms-slide blog-slider">
            <img src="~/Content/Upload/Yayin/Foto/@item.Yayin_Foto" alt="PESA" />
            <div class="ms-info"></div>
            <div class="blog-slider-title">
                <h2>
                    @Html.ActionLink(item.Yayin_Baslik, "YayinDetails", "Yayinlar", new { id = item.Yayin_ID }, null)
                    @*<a href="~/Temp/Analiz22">Uluslararası Endeksler Işığında Türkiye</a>*@
                </h2>
            </div>
            <div class="ms-thumb">
                <h3>@item.Yayin_Baslik</h3>
                @*<p>Türkiye’de sürdürülebilir ve yeterli büyüme patikasına girebilmesi için gerekli olan unsurlardan biri tasarrufların artırılması ve yatırımlara kanalize edilmesidir.</p>*@
            </div>
        </div>
    }


</div>
<!-- #endregion -->


<div class="container content">
    <div class="row">
        <div class="col-md-8">

            <div class="margin-bottom-50">
                <h2 class="title-v4">@Html.ActionLink("ANALİZLER", "YayinIndex", "Yayinlar", new { ID = "1" }, null)</h2>
                <div class="row margin-bottom-50">

                    @{


                        foreach (var item in Model.OrderByDescending(c => c.Yayin_Tarih.AsDateTime()).Where(x => x.YayinTip_ID == 1).Take(4))
                        {
                <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                    <!-- Blog Thumb v4 -->
                    <div class="blog-thumb-v4">
                        <img class="img-responsive margin-bottom-10" src="~/Content/Upload/Yayin/Foto/@item.Yayin_Foto" alt="">
                        <h3>@Html.ActionLink(item.Yayin_Baslik, "YayinDetails", "Yayinlar", new { id = item.Yayin_ID }, null)</h3>
                    </div>
                    <!-- End Blog Thumb v4 -->
                </div>
                        }
                    }

                </div><!--/end row-->
            </div>

            <div class="margin-bottom-50">
                <h2 class="title-v4">@Html.ActionLink("GÖRÜŞLER", "YayinIndex", "Yayinlar", new { ID = "2" }, null)</h2>
                <div class="row margin-bottom-50">
                    @foreach (var item in Model.OrderByDescending(c => c.Yayin_Tarih.AsDateTime()).Where(x => x.YayinTip_ID == 2).Take(4))
                    {
                <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                    <!-- Blog Thumb v4 -->
                    <div class="blog-thumb-v4">
                        <img class="img-responsive margin-bottom-10" src="~/Content/Upload/Yayin/Foto/@item.Yayin_Foto" alt="">
                        <h3>@Html.ActionLink(item.Yayin_Baslik, "YayinDetails", "Yayinlar", new { id = item.Yayin_ID }, null)</h3>
                    </div>
                    <!-- End Blog Thumb v4 -->
                </div>
                    }



                </div><!--/end row-->
            </div>
            <div class="margin-bottom-50">
                <h2 class="title-v4">@Html.ActionLink("RAPORLAR", "YayinIndex", "Yayinlar", new { ID = "3" }, null)</h2>
                <div class="row margin-bottom-50">

                    @foreach (var item in Model.OrderByDescending(c => c.Yayin_Tarih.AsDateTime()).Where(x => x.YayinTip_ID == 3).Take(4))
                    {
                <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                    <!-- Blog Thumb v4 -->
                    <div class="blog-thumb-v4">
                        <img class="img-responsive margin-bottom-10" src="~/Content/Upload/Yayin/Foto/@item.Yayin_Foto" alt="">
                        <h3>@Html.ActionLink(item.Yayin_Baslik, "YayinDetails", "Yayinlar", new { id = item.Yayin_ID }, null)</h3>
                    </div>
                    <!-- End Blog Thumb v4 -->
                </div>
                    }

                </div><!--/end row-->
            </div>

            <div class="margin-bottom-50">
                <h2 class="title-v4">@Html.ActionLink("HAFTALIK EKONOMİ BÜLTENLERİ", "YayinIndex", "Yayinlar", new { ID = "4" }, null)</h2>
                <div class="row margin-bottom-50">

                    @foreach (var item in Model.OrderByDescending(c => c.Yayin_Tarih.AsDateTime()).Where(x => x.YayinTip_ID == 4).Take(4))
                    {
                <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                    <!-- Blog Thumb v4 -->
                    <div class="blog-thumb-v4">
                        <img class="img-responsive margin-bottom-10" src="~/Content/Upload/Yayin/Foto/@item.Yayin_Foto" alt="">
                        <h3>@Html.ActionLink(item.Yayin_Baslik, "YayinDetails", "Yayinlar", new { id = item.Yayin_ID }, null)</h3>
                    </div>
                    <!-- End Blog Thumb v4 -->
                </div>
                    }

                </div><!--/end row-->
            </div>

        </div>
        <div class="col-md-4">
            <div class="margin-bottom-10">
                <h2 class="title-v4">@Html.ActionLink("DUYURULAR", "DuyuruIndex", "Yayinlar")</h2>
                <div class="margin-bottom-50" id="duyurular">
                    @Html.Action("PartialDuyuru", "Yayinlar")
                </div>
            </div>
        </div>

        <div class="col-md-4 margin-top-20">
            <h2 class="title-v4">VİDEOLAR</h2>
            <iframe src="https://www.youtube.com/embed/TzYZxaSGBzs?list=UUDAurA4HnGsfr0xyeI1ljnw" frameborder="0" allowfullscreen style="overflow:hidden;width:100%" height="240"></iframe>
        </div>

        <div class="col-md-4 margin-top-20">
            <br /> <br /> <br />
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/pesaarastirma" data-widget-id="708705867374456832"></a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        </div>
    </div>
</div>

@Scripts.Render("~/assets/plugins.js")
@Scripts.Render("~/assets/pagejs")
<script>
    jQuery(document).ready(function () {
        App.init();
        App.initCounter();
        StyleSwitcher.initStyleSwitcher();
        MasterSliderShowcase4.initMasterSliderShowcase4();
    });


    $('#duyurular').slimScroll({
        color: '#35afb7',
        size: '8px',
        height: '250px',
        alwaysVisible: true
    });



</script>
