@{
    ViewBag.Title = "Ana Sayfa";
}
@Styles.Render("~/assets/headerfooter")
@Styles.Render("~/assets/theme")
@Styles.Render("~/assets/plugins.css")
<!-- Master Slider -->
<div class="master-slider ms-skin-black-2 round-skin" id="masterslider">
    <div class="ms-slide blog-slider">
        <img src="~/Content/TempImages/analiz/analiz22.png" alt="PESA" />
        <div class="ms-info"></div>
        <div class="blog-slider-title">
            <h2><a href="~/Temp/Analiz22">Uluslararası Endeksler Işığında Türkiye</a></h2>
        </div>
        <div class="ms-thumb">
            <h3>Uluslararası Endeksler</h3>
            <p>Bu çalışmada Uluslararası Kuruluşlar tarafından yayınlanan seçilmiş endeksler ışığında Türkiye’nin durumu değerlendirilmiştir.</p>
        </div>
    </div>
    <div class="ms-slide blog-slider">
        <img src="~/Content/TempImages/analiz/analiz21.png" alt="PESA" />
        <div class="ms-info"></div>
        <div class="blog-slider-title">
            <h2><a href="~/Temp/Analiz21">Türkiye'de Çevreye İlişkin Çarpıcı Göstergeler</a></h2>
        </div>
        <div class="ms-thumb">
            <h3>Çevreye İlişkin Çarpıcı Göstergeler</h3>
            <p>Küresel ısınma gibi sorunlar sıklıkla dile getirilmeye başlandı.</p>
        </div>
    </div>
    <div class="ms-slide blog-slider">
        <img src="~/Content/TempImages/rapor/rapor10.png" alt="Başkanlık Sistemi" />
        <div class="ms-info"></div>
        <div class="blog-slider-title">
            <h2><a href="~/Temp/Rapor10">Sakarya Halkının Başkanlık Sistemine Bakışı</a></h2>
        </div>
        <div class="ms-thumb">
            <h3>Başkanlık Sistemi</h3>
            <p>Sakarya çözüm istiyor</p>
        </div>
    </div>

    <div class="ms-slide blog-slider">
        <img src="~/Content/TempImages/analiz/analiz20.png" alt="Ders Yükü Dağılımı" />
        <div class="ms-info"></div>
        <div class="blog-slider-title">
            <h2><a href="/Temp/Analiz20">Ders yüklerinin dağılımı sorunu</a></h2>
        </div>
        <div class="ms-thumb">
            <h3>Üniversitelerde Öğretim Üyeleri Ders Yükü Dağılımı</h3>
            <p></p>
        </div>
    </div>
    <div class="ms-slide blog-slider">
        <img src="~/Content/TempImages/gorus/gorus43.png" alt="Güneydoğu'da Son Durum"/>
        <div class="ms-info"></div>
        <div class="blog-slider-title">
            <h2><a href="/Temp/Gorus43">2016’nın ilk gününde PESA Cuma Konuşmaları’nın konusu Güneydoğu Sorunu</a></h2>
        </div>
        <div class="ms-thumb">
            <h3>Güneydoğu'da Son Durum</h3>
            <p>İslami STK'lar Çalıştayı İzlenimleri</p>
        </div>
    </div>
    <div class="ms-slide blog-slider">
        <img src="~/Content/TempImages/gorus/gorus42.png" alt="Başkanlık Sistemi" />
        <div class="ms-info"></div>
        <div class="blog-slider-title">
            <h2><a href="/Temp/Gorus42">PESA Cuma Konuşmaları’nın 18 Aralık 2015’te konuğu Doç.Dr. Zeynel Abidin KILINÇ</a></h2>
        </div>
        <div class="ms-thumb">
            <h3>Başkanlık Sistemi</h3>
            <p>PESA Cuma Konuşmaları’nın 18 Aralık 2015’te konuğu Doç.Dr. Zeynel Abidin KILINÇ</p>
        </div>
    </div>
</div>
<!-- End Master Slider -->

<div class="container content">
    <div class="row">
        <div class="col-md-8">
            <div class="margin-bottom-50">
                <h2 class="title-v4">@Html.ActionLink("ANALİZLER", "Analizler", "Temp")</h2>
                <div class="row margin-bottom-50">
                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/Content/TempImages/analiz/analiz22.png" alt="">
                            <h3><a href="http://localhost:56508/Temp/Analiz22">Uluslararası Endeksler Işığında Türkiye</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/Content/TempImages/analiz/analiz21.png" alt="">
                            <h3><a href="http://localhost:56508/Temp/Analiz21">Türkiye’de Çevreye İlişkin ÇARPICI Göstergeler</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/Content/TempImages/analiz/analiz20.png" alt="">
                            <h3><a href="http://localhost:56508/Temp/Analiz20">Seçilmiş Üniversitelerde Öğretim Üyeleri Ders Yükü Dağılımı</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/Content/TempImages/analiz/analiz19.png" alt="">
                            <h3><a href="http://localhost:56508/Temp/Analiz19">7 Haziran’dan 1 Kasım’a Seçim Beyannameleri: Metin Analizi</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                </div><!--/end row-->
            </div>

            <div class="margin-bottom-50">
                <h2 class="title-v4">@Html.ActionLink("GÖRÜŞLER", "Gorusler", "Temp")</h2>
                <div class="row margin-bottom-50">
                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/Content/TempImages/gorus/gorus43.png" alt="">
                            <h3><a href="/Temp/Gorus43">Güneydoğu'da Son Durum: İslami STK'lar Çalıştayı İzlenimi</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/Content/TempImages/gorus/gorus42.png" alt="">
                            <h3><a href="/Temp/Gorus42">Başkanlık Sistemi</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <div class="blog-thumb-v4">
                                <img class="img-responsive margin-bottom-10" src="~/Content/TempImages/gorus/gorus41.png" alt="">
                                <h3><a href="/Temp/Gorus4l">Asgarisi Devletten, İnsanisi İşverenden, Azamisi Piyasadan</a></h3>
                            </div>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/Content/TempImages/gorus/gorus40.png" alt="">
                            <h3><a href="/Temp/Gorus40">Kalkınma ve Ahlak</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                </div><!--/end row-->
            </div>
            <div class="margin-bottom-50">
                <h2 class="title-v4">@Html.ActionLink("RAPORLAR", "Raporlar", "Temp")</h2>
                <div class="row margin-bottom-50">

                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/Content/TempImages/rapor/rapor10.png"" alt="">
                            <h3><a href="/Temp/Rapor10">Sakarya Halkının Başkanlık Sistemine Bakışı</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>

                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/Content/TempImages/rapor/rapor9.png" alt="">
                            <h3><a href="/Temp/Rapor9">Sakarya Halkının Çözüm Sürecine Bakışı: “Sakarya Çözüm İstiyor</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>

                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/Content/TempImages/rapor/rapor8.png" alt="">
                            <h3><a href="/Temp/Rapor8">30 Mart 2014 Yerel Seçim Sonuçları (Sakarya)</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>

                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/Content/TempImages/rapor/rapor7.png" alt="">
                            <h3><a href="/Temp/Rapor7">Sakarya İli Yerel Anket Sonuçları</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>

                </div><!--/end row-->
            </div>

            <div class="margin-bottom-50">
                <h2 class="title-v4">@Html.ActionLink("HAFTALIK EKONOMİ BÜLTENLERİ", "Bultenler", "Temp")</h2>
                <div class="row margin-bottom-50">
                    
                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/Content/TempImages/bulten/bulten.png" alt="">
                            <h3><a href="http://pesar.org/sites/default/files/pesar_ekonomi_bulteni_2016-4h.pdf">Haftalık Ekonomi Bülteni (2016 4.hafta)</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>

                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/Content/TempImages/bulten/bulten.png" alt="">
                            <h3><a href="http://pesar.org/sites/default/files/pesar_ekonomi_bulteni_2016-3h.pdf">Haftalık Ekonomi Bülteni (2016 3.hafta)</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>

                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/Content/TempImages/bulten/bulten.png"" alt="">
                            <h3><a href="http://pesar.org/sites/default/files/pesar_ekonomi_bulteni_2016-2h.pdf">Haftalık Ekonomi Bülteni (2016 2.hafta)</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>

                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/Content/TempImages/bulten/bulten.png"" alt="">
                            <h3><a href="http://pesar.org/sites/default/files/pesar_ekonomi_bulteni_2015-21h.pdf">Haftalık Ekonomi Bülteni (2015 21.hafta)</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>

                </div><!--/end row-->
            </div>
            <!-- Accordion v1 -->
            @*<div class="panel-group acc-v1" id="accordion-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                    ANALİZ
                                </a>
                            </h3>
                        </div>
                        <div id="collapse-One" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="~/assets/img/main/img12.jpg" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                                    GÖRÜŞ
                                </a>
                            </h3>
                        </div>
                        <div id="collapse-Two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                                            <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                                            <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="~/assets/img/main/img9.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
                                    RAPOR
                                </a>
                            </h3>
                        </div>
                        <div id="collapse-Three" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
                                    EKONOMİ BÜLTENİ
                                </a>
                            </h3>
                        </div>
                        <div id="collapse-Four" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            </div>
                        </div>
                    </div>
                </div>*@
            <!-- End Accordion v1 -->
        </div>
        <div class="col-md-4">
            <div class="margin-bottom-50">
                <h2 class="title-v4">@Html.ActionLink("DUYURULAR", "Duyurular", "Temp")</h2>
                <div class="margin-bottom-50" id="duyurular">
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/Content/TempImages/bulten/duyuru11.png" alt="">
                            <a class="hover-grad" href="http://localhost:56508/Temp/Duyuru11"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="http://localhost:56508/Temp/Duyuru11">PESA ve SDE tarafından düzenlenecek olan "Stratejik Düşünce Akademisi-Sakarya" kayıtları başladı.</a></h3>
                        </div>
                    </div>

                    <hr class="hr-xs" />
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/Content/TempImages/bulten/duyuru10.png" alt="">
                            <a class="hover-grad" href="http://localhost:56508/Temp/Duyuru10"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="http://localhost:56508/Temp/Duyuru10">Kocaeli Mayıs Seminer Programı</a></h3>
                        </div>
                    </div>
                    <hr class="hr-xs" />
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/Content/TempImages/bulten/duyuru9.png" alt="">
                            <a class="hover-grad" href="http://localhost:56508/Temp/Duyuru9"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="http://localhost:56508/Temp/Duyuru9">Yeni Türkiye ve Başkanlık Sistemi</a></h3>
                        </div>
                    </div>
                    
                    <hr class="hr-xs" />
                    <div class="blog-thumb blog-thumb-circle">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/Content/TempImages/bulten/duyuru8.png" alt="">
                            <a class="hover-grad" href="http://localhost:56508/Temp/Duyuru8"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="http://localhost:56508/Temp/Duyuru8">Alevilerde Vergi Algısı</a></h3>
                        </div>
                    </div>

                    <hr class="hr-xs" />
                    <div class="blog-thumb blog-thumb-circle">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/Content/TempImages/bulten/duyuru7.png" alt="">
                            <a class="hover-grad" href="http://localhost:56508/Temp/Duyuru7"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="http://localhost:56508/Temp/Duyuru7">Dindar/Muhafazakar İşadamları Perspektifinden İslam Ekonomisi ve Katılım Bankaları</a></h3>
                        </div>
                    </div>
                    <hr class="hr-xs" />
                    @*<hr class="hr-xs" />
                    <div class="blog-thumb blog-thumb-circle">      
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/assets/img/blog/img21.jpg" alt="">
                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="blog_single.html">Stylish things to do, see and buy this week</a></h3>
                        </div>
                    </div>
                    <hr class="hr-xs" />
                    <div class="blog-thumb blog-thumb-circle">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/assets/img/blog/img21.jpg" alt="">
                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="blog_single.html">Stylish things to do, see and buy this week</a></h3>
                        </div>
                    </div>
                    <hr class="hr-xs" />
                    <div class="blog-thumb blog-thumb-circle">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/assets/img/blog/img21.jpg" alt="">
                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="blog_single.html">Stylish things to do, see and buy this week</a></h3>
                        </div>
                    </div>
                    <hr class="hr-xs" />
                    <div class="blog-thumb blog-thumb-circle">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/assets/img/blog/img21.jpg" alt="">
                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="blog_single.html">Stylish things to do, see and buy this week</a></h3>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="col-md-4 margin-top-20">
        <h2 class="title-v4">VİDEOLAR</h2>
        <iframe width="360" height="240" src="https://www.youtube.com/embed/TzYZxaSGBzs?list=UUDAurA4HnGsfr0xyeI1ljnw" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="col-md-4 margin-top-20">
            <br /> <br /> <br /> 
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/pesaarastirma" data-widget-id="708705867374456832"></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            @*<h2 class="title-v4">BİZİ TAKİP EDİN</h2>

                <div class="margin-bottom-50">
                    <a href="https://www.facebook.com/pesaarastirma" target="_blank">
                        <div class="socialsy bgfc">
                            <div>
                                <i class="fa fa-facebook"></i>
                            </div>
                        </div>
                    </a>
                    <a href="https://twitter.com/pesaarastirma" target="_blank">
                        <div class="socialsy bgtw">
                            <div>
                                <i class="fa fa-twitter"></i>
                            </div>
                        </div>
                    </a>
                </div>*@

        </div>
    </div>
</div>

@Scripts.Render("~/assets/plugins.js")
@Scripts.Render("~/assets/pagejs")
<script>
    jQuery(document).ready(function () {
        App.init();
        App.initCounter();
        StyleSwitcher.initStyleSwitcher();
        MasterSliderShowcase4.initMasterSliderShowcase4();
    });


    $('#duyurular').slimScroll({
        color: '#35afb7',
        size: '8px',
        height: '152px',
        alwaysVisible: true
    });



</script>
