@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/assets/headerfooter")
@Styles.Render("~/assets/theme")
@Styles.Render("~/assets/plugins.css")

<!-- Master Slider -->
<div class="master-slider ms-skin-black-2 round-skin" id="masterslider">

    <div class="ms-slide blog-slider">
        <img src="~/assets/img/blog/img35.jpg" alt="lorem ipsum dolor sit" />
        <div class="ms-info"></div>
        <div class="blog-slider-title">
            <h2><a href="#">Is this the end for fashion police?</a></h2>
        </div>
        <div class="ms-thumb">
            <h3>Fashion Week</h3>
            <p>Lorem ipsum dolor sit ametonse ctetuer elit</p>
        </div>
    </div>
    <div class="ms-slide blog-slider">
        <img src="~/assets/img/blog/img41.jpg" alt="lorem ipsum dolor sit" />
        <div class="ms-info"></div>
        <div class="blog-slider-title">
            <h2><a href="#">Learning as you're earning: The alternative to a degree</a></h2>
        </div>
        <div class="ms-thumb">
            <h3>LA Hi-Tech Showcase</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer elit</p>
        </div>
    </div>
    <div class="ms-slide blog-slider">
        <img src="~/assets/img/blog/img48.jpg" alt="lorem ipsum dolor sit" />
        <div class="ms-info"></div>
        <div class="blog-slider-title">
            <h2><a href="#">Brady handed his place in history</a></h2>
        </div>
        <div class="ms-thumb">
            <h3>World Sport</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer elit</p>
        </div>
    </div>
    <div class="ms-slide blog-slider">
        <img src="~/assets/img/blog/img5.jpg" alt="lorem ipsum dolor sit" />
        <div class="ms-info"></div>
        <div class="blog-slider-title">
            <h2><a href="#">Nadège Vanhee-Cybulski makes Hermès debut</a></h2>
        </div>
        <div class="ms-thumb">
            <h3>Welcome to New York</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer elit</p>
        </div>
    </div>

</div>
<!-- End Master Slider -->


<div class="container content">
    <div class="row">
        <div class="col-md-8">
            <div class="margin-bottom-50">
                <h2 class="title-v4">SON ANALİZLER</h2>
                <div class="row margin-bottom-50">
                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <div class="blog-thumb-item">
                                <img class="img-responsive margin-bottom-10" src="~/assets/img/blog/img40.jpg" alt="">
                                <div class="center-wrap">
                                    <div class="center-alignCenter">
                                        <div class="center-body">
                                            <a href="https://player.vimeo.com/video/74197060" class="fbox-modal fancybox.iframe video-play-btn" title="What will fashion be like in 25 years?">
                                                <img class="video-play-btn" src="~/assets/img/icons/video-play.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div><!--/end center wrap-->
                            </div>
                            <h3><a href="blog_single.html">What will fashion be like in 25 years?</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/assets/img/blog/img35.jpg" alt="">
                            <h3><a href="blog_single.html">Where will be your next destination</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <div class="blog-thumb-item">
                                <img class="img-responsive margin-bottom-10" src="~/assets/img/blog/img43.jpg" alt="">
                                <div class="center-wrap">
                                    <div class="center-alignCenter">
                                        <div class="center-body">
                                            <a href="https://player.vimeo.com/video/74197060" class="fbox-modal fancybox.iframe video-play-btn" title="Suffering from gastritis? Here's the solution ....">
                                                <img class="video-play-btn" src="~/assets/img/icons/video-play.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div><!--/end center wrap-->
                            </div>
                            <h3><a href="blog_single.html">Suffering from gastritis? Here's the solution ....</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/assets/img/blog/img41.jpg" alt="">
                            <h3><a href="blog_single.html">The places you must visit, before you die</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                </div><!--/end row-->
            </div>

            <div class="margin-bottom-50">
                <h2 class="title-v4">SON GÖRÜŞLER</h2>
                <div class="row margin-bottom-50">
                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <div class="blog-thumb-item">
                                <img class="img-responsive margin-bottom-10" src="~/assets/img/blog/img40.jpg" alt="">
                                <div class="center-wrap">
                                    <div class="center-alignCenter">
                                        <div class="center-body">
                                            <a href="https://player.vimeo.com/video/74197060" class="fbox-modal fancybox.iframe video-play-btn" title="What will fashion be like in 25 years?">
                                                <img class="video-play-btn" src="~/assets/img/icons/video-play.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div><!--/end center wrap-->
                            </div>
                            <h3><a href="blog_single.html">What will fashion be like in 25 years?</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/assets/img/blog/img35.jpg" alt="">
                            <h3><a href="blog_single.html">Where will be your next destination</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <div class="blog-thumb-item">
                                <img class="img-responsive margin-bottom-10" src="~/assets/img/blog/img43.jpg" alt="">
                                <div class="center-wrap">
                                    <div class="center-alignCenter">
                                        <div class="center-body">
                                            <a href="https://player.vimeo.com/video/74197060" class="fbox-modal fancybox.iframe video-play-btn" title="Suffering from gastritis? Here's the solution ....">
                                                <img class="video-play-btn" src="~/assets/img/icons/video-play.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div><!--/end center wrap-->
                            </div>
                            <h3><a href="blog_single.html">Suffering from gastritis? Here's the solution ....</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/assets/img/blog/img41.jpg" alt="">
                            <h3><a href="blog_single.html">The places you must visit, before you die</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                </div><!--/end row-->
            </div>

            <div class="margin-bottom-50">
                <h2 class="title-v4">SON RAPORLAR</h2>
                <div class="row margin-bottom-50">
                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <div class="blog-thumb-item">
                                <img class="img-responsive margin-bottom-10" src="~/assets/img/blog/img40.jpg" alt="">
                                <div class="center-wrap">
                                    <div class="center-alignCenter">
                                        <div class="center-body">
                                            <a href="https://player.vimeo.com/video/74197060" class="fbox-modal fancybox.iframe video-play-btn" title="What will fashion be like in 25 years?">
                                                <img class="video-play-btn" src="~/assets/img/icons/video-play.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div><!--/end center wrap-->
                            </div>
                            <h3><a href="blog_single.html">What will fashion be like in 25 years?</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/assets/img/blog/img35.jpg" alt="">
                            <h3><a href="blog_single.html">Where will be your next destination</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <div class="blog-thumb-item">
                                <img class="img-responsive margin-bottom-10" src="~/assets/img/blog/img43.jpg" alt="">
                                <div class="center-wrap">
                                    <div class="center-alignCenter">
                                        <div class="center-body">
                                            <a href="https://player.vimeo.com/video/74197060" class="fbox-modal fancybox.iframe video-play-btn" title="Suffering from gastritis? Here's the solution ....">
                                                <img class="video-play-btn" src="~/assets/img/icons/video-play.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div><!--/end center wrap-->
                            </div>
                            <h3><a href="blog_single.html">Suffering from gastritis? Here's the solution ....</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/assets/img/blog/img41.jpg" alt="">
                            <h3><a href="blog_single.html">The places you must visit, before you die</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                </div><!--/end row-->
            </div>

            <div class="margin-bottom-50">
                <h2 class="title-v4">HAFTALIK EKONOMİ BÜLTENLERİ </h2>
                <div class="row margin-bottom-50">
                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <div class="blog-thumb-item">
                                <img class="img-responsive margin-bottom-10" src="~/assets/img/blog/img40.jpg" alt="">
                                <div class="center-wrap">
                                    <div class="center-alignCenter">
                                        <div class="center-body">
                                            <a href="https://player.vimeo.com/video/74197060" class="fbox-modal fancybox.iframe video-play-btn" title="What will fashion be like in 25 years?">
                                                <img class="video-play-btn" src="~/assets/img/icons/video-play.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div><!--/end center wrap-->
                            </div>
                            <h3><a href="blog_single.html">What will fashion be like in 25 years?</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6 sm-margin-bottom-30">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/assets/img/blog/img35.jpg" alt="">
                            <h3><a href="blog_single.html">Where will be your next destination</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <div class="blog-thumb-item">
                                <img class="img-responsive margin-bottom-10" src="~/assets/img/blog/img43.jpg" alt="">
                                <div class="center-wrap">
                                    <div class="center-alignCenter">
                                        <div class="center-body">
                                            <a href="https://player.vimeo.com/video/74197060" class="fbox-modal fancybox.iframe video-play-btn" title="Suffering from gastritis? Here's the solution ....">
                                                <img class="video-play-btn" src="~/assets/img/icons/video-play.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div><!--/end center wrap-->
                            </div>
                            <h3><a href="blog_single.html">Suffering from gastritis? Here's the solution ....</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <!-- Blog Thumb v4 -->
                        <div class="blog-thumb-v4">
                            <img class="img-responsive margin-bottom-10" src="~/assets/img/blog/img41.jpg" alt="">
                            <h3><a href="blog_single.html">The places you must visit, before you die</a></h3>
                        </div>
                        <!-- End Blog Thumb v4 -->
                    </div>
                </div><!--/end row-->
            </div>

            <!-- Accordion v1 -->
            @*<div class="panel-group acc-v1" id="accordion-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                    ANALİZ
                                </a>
                            </h3>
                        </div>
                        <div id="collapse-One" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="~/assets/img/main/img12.jpg" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                                    GÖRÜŞ
                                </a>
                            </h3>
                        </div>
                        <div id="collapse-Two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>
                                            <li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>
                                            <li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="~/assets/img/main/img9.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
                                    RAPOR
                                </a>
                            </h3>
                        </div>
                        <div id="collapse-Three" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
                                    EKONOMİ BÜLTENİ
                                </a>
                            </h3>
                        </div>
                        <div id="collapse-Four" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            </div>
                        </div>
                    </div>
                </div>*@
            <!-- End Accordion v1 -->
        </div>
@*
    <div class="col-md-4">
        <h2 class="title-v4">DUYURULAR</h2>

        <!-- Blog Thumb v3 -->
        <div class="margin-bottom-50" id="duyurular">

            <div class="blog-thumb-v3">
                <h3><a href="#">Cameron's silence on defence is shameful</a></h3>
            </div>
            <hr class="hr-xs" />

            <div class="blog-thumb-v3">
                <h3><a href="#">Cameron's silence on defence is shameful</a></h3>
            </div>
            <hr class="hr-xs">

            <div class="blog-thumb-v3">
                <h3><a href="#">Cameron's silence on defence is shameful</a></h3>
            </div>
            <hr class="hr-xs">

            <div class="blog-thumb-v3">
                <h3><a href="#">Cameron's silence on defence is shameful</a></h3>
            </div>
            <hr class="hr-xs">

            <div class="blog-thumb-v3">
                <h3><a href="#">Cameron's silence on defence is shameful</a></h3>
            </div>
            <hr class="hr-xs">

            <div class="blog-thumb-v3">
                <h3><a href="#">Cameron's silence on defence is shameful</a></h3>
            </div>
            <hr class="hr-xs">

            <div class="blog-thumb-v3">
                <h3><a href="#">Cameron's silence on defence is shameful</a></h3>
            </div>
            <hr class="hr-xs">

            <div class="blog-thumb-v3">
                <h3><a href="#">Cameron's silence on defence is shameful</a></h3>
            </div>
            <hr class="hr-xs">

            <div class="blog-thumb-v3">
                <h3><a href="#">Cameron's silence on defence is shameful</a></h3>
            </div>
            <hr class="hr-xs">

            <div class="blog-thumb-v3">
                <h3><a href="#">Architects plan to stop skyscrapers from blocking out sunlight</a></h3>
            </div>
            <hr class="hr-xs">
            <div class="blog-thumb-v3">
                <h3><a href="#">Fashion's first selfies: It was a 16th-century German accountant who started the trend for style blogging</a></h3>
            </div>
            <hr class="hr-xs">
            <div class="blog-thumb-v3">
                <h3><a href="#">How to run a country: A 10 point manifesto for leaders who stand – and want to deliver</a></h3>
            </div>
            <hr class="hr-xs">
            <div class="blog-thumb-v3">
                <h3><a href="#">Controversial plan to test new primary school pupils infuriates teachers</a></h3>
            </div>
        </div>
    </div>
*@
        <div class="col-md-4">
            <div class="margin-bottom-50">
                <h2 class="title-v4">DUYURULAR</h2>
                <div class="margin-bottom-50" id="duyurular">
                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/assets/img/blog/img1.jpg" alt="">
                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="blog_single.html">Misused words and how to use them correctly</a></h3>
                        </div>
                    </div>

                    <hr class="hr-xs" />

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/assets/img/blog/img22.jpg" alt="">
                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="blog_single.html">8 health benefits and drawbacks of coffee</a></h3>
                        </div>
                    </div>

                    <hr class="hr-xs" />

                    <div class="blog-thumb blog-thumb-circle margin-bottom-15">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/assets/img/blog/img2.jpg" alt="">
                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="blog_single.html">What are the top five books you must read?</a></h3>
                        </div>
                    </div>

                    <hr class="hr-xs" />
                    
                    <div class="blog-thumb blog-thumb-circle">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/assets/img/blog/img21.jpg" alt="">
                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="blog_single.html">Stylish things to do, see and buy this week</a></h3>
                        </div>
                    </div>
                    <hr class="hr-xs" />

                    <div class="blog-thumb blog-thumb-circle">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/assets/img/blog/img21.jpg" alt="">
                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="blog_single.html">Stylish things to do, see and buy this week</a></h3>
                        </div>
                    </div>
                    <hr class="hr-xs" />
                    <div class="blog-thumb blog-thumb-circle">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/assets/img/blog/img21.jpg" alt="">
                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="blog_single.html">Stylish things to do, see and buy this week</a></h3>
                        </div>
                    </div>

                    <hr class="hr-xs" />

                    <div class="blog-thumb blog-thumb-circle">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/assets/img/blog/img21.jpg" alt="">
                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="blog_single.html">Stylish things to do, see and buy this week</a></h3>
                        </div>
                    </div>
                    <hr class="hr-xs" />
                    <div class="blog-thumb blog-thumb-circle">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/assets/img/blog/img21.jpg" alt="">
                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="blog_single.html">Stylish things to do, see and buy this week</a></h3>
                        </div>
                    </div>

                    <hr class="hr-xs" />

                    <div class="blog-thumb blog-thumb-circle">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/assets/img/blog/img21.jpg" alt="">
                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="blog_single.html">Stylish things to do, see and buy this week</a></h3>
                        </div>
                    </div>

                    <hr class="hr-xs" />

                    <div class="blog-thumb blog-thumb-circle">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/assets/img/blog/img21.jpg" alt="">
                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="blog_single.html">Stylish things to do, see and buy this week</a></h3>
                        </div>
                    </div>

                    <hr class="hr-xs" />

                    <div class="blog-thumb blog-thumb-circle">
                        <div class="blog-thumb-hover">
                            <img class="rounded-x" src="~/assets/img/blog/img21.jpg" alt="">
                            <a class="hover-grad" href="blog_single.html"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="blog-thumb-desc">
                            <h3><a href="blog_single.html">Stylish things to do, see and buy this week</a></h3>
                        </div>
                    </div>
                    </div>
                </div>
        </div>


        <div class="col-md-4 margin-top-20">
            <h2 class="title-v4">BİZİ TAKİP EDİN</h2>

            <!-- Blog Thumb v3 -->
            <div class="margin-bottom-50">
                <a href="https://www.facebook.com/pesaarastirma" target="_blank">
                    <div class="socialsy bgfc">
                        <div>
                            <i class="fa fa-facebook"></i>
                        </div>
                    </div>
                </a>
                <a href="https://twitter.com/pesaarastirma" target="_blank">
                    <div class="socialsy bgtw">
                        <div>
                            <i class="fa fa-twitter"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>



@Scripts.Render("~/assets/plugins.js")
@Scripts.Render("~/assets/pagejs")

<script>
    jQuery(document).ready(function () {
        App.init();
        App.initCounter();
        StyleSwitcher.initStyleSwitcher();
        MasterSliderShowcase4.initMasterSliderShowcase4();
    });


    $('#duyurular').slimScroll({
        color: '#35afb7',
        size: '8px',
        height: '520px',
        alwaysVisible: true
    });



</script>
